:root {
    --gb: #858e30;
  }

  .btnclr {
    background-color:  var(--gb);
    color: #FFF;
  }

  #navbarsExample07 > ul > li {
    margin-right: 1rem;
  }

/*--- COOKIE BANNER --- */

#cookieBanner {
  display:block;
  position: -webkit-sticky;
  position: sticky;
  top: 5%;
  padding: 50px;
  font-size: 20px;
}




/* ----------------------- */


  .display-5 {
    margin-top: 1rem;
  }

  @media (max-width: 1200px) {

    #btn-signUp {
      margin-top: 1rem;
    }

  }
  @media (max-width: 990px) {

    #btn-signUp {
      margin-top: 0;
    }

  }
  @media (max-width: 480px) {

    #headline {
      display: none;
    }

  }